.productPage {
  max-width: 1200px;
  margin: 5rem auto;
}
.productPage__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}
.productPage__content__imgWrapper {
  max-width: 500px;
  border: 1px solid var(--color-dark-blue);
  border-radius: 10px;
  overflow: hidden;
}
.productPage__content__imgWrapper__img {
  width: 100%;
  border-radius: 10px;
  height: auto;
  position: relative;

  transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.productPage__content__imgWrapper:hover .productPage__content__imgWrapper__img {
  transform: scale(1.5);
}
.productPage__content__data {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  color: var(--color-dark-blue);
}
.productPage__content__data__productName {
  font-size: calc(1rem + 1vw);
  letter-spacing: 1px;
}
.productPage__content__data__productCode {
  margin-top: 10px;
  font-size: 18px;
  font-family: gothanLight, sans-serif;
}
.productPage__content__data__sizes {
  margin-top: 10px;
}
.productPage__content__data__sizes__size {
  font-family: gothanLight, sans-serif;
  color: white;
  font-size: 12px;
  background: var(--color-dark-blue);
  opacity: 0.6;
  border-radius: 2px;
  padding: 5px 7px;
  margin-right: 10px;
  cursor: default;

  transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.productPage__content__data__sizes__size:hover {
  background: var(--color-blue);
}
.productPage__content__data__buy {
  margin: 2rem 0;
  display: flex;
  align-items: center;
}
.productPage__content__data__buy__price {
  font-size: calc(25px + 1.6vw);
}
.productPage__content__data__buy__btn {
  margin-left: 1rem;
  font-family: gothanLight, sans-serif;
  font-size: calc(10px + 0.4vw);
  padding: 10px 1rem;
  opacity: 0.7;
  border: 1px solid transparent;
  background: var(--color-dark-blue);
  border-radius: 10px;
  color: white;
  cursor: pointer;

  transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.productPage__content__data__buy__btn:hover {
  transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.productPage__content__data__description {
  font-family: gothanLight, sans-serif;
}
.productPage__content__data__description hr {
  margin: 1rem 0;
}
.productPage__content__data__description hr {
  max-width: 70%;
}
.productPage__content__data__description__discount {
  max-width: 80%;
}
.productPage__content__data__btns {
  max-width: 60%;
}
.productPage__content__data__description__discount {
  color: rgb(126, 126, 126);
  margin-bottom: 2rem;
}
.productPage__content__data__btns {
  display: flex;
  justify-content: space-between;
}
.productPage__content__data__btns__btn {
  padding: 10px 15px;
  letter-spacing: 1px;
  border: 1px solid transparent;
  background: var(--color-blue);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  bottom: 0;
  font-size: calc(5px + 0.3vw);

  transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.productPage__content__data__btns__btn:hover {
  background: white;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  bottom: 3px;
}
@media only screen and (max-width: 1024px) {
  .productPage__content {
    flex-direction: column;
    align-items: center;
  }
  .productPage__content__data {
    align-items: center;
  }
  .productPage__content__data__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .productPage__content__data__buy {
    flex-direction: column;
  }
  .productPage__content__data__buy__btn {
    margin-top: 2rem;
  }
  .productPage__content__data__btns {
    flex-direction: column;
  }
  .productPage__content__data__btns__btn {
    margin-bottom: 1rem;
  }
  .productPage__content__data__description__discount {
    max-width: 90%;
  }
}
