.card__product {
  width: 300px;
  height: 420px;
  margin-bottom: 2rem;
  cursor: pointer;
}
.card__product__imgContainer {
  width: 300px;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  border: 1px solid var(--color-dark-blue);
  border-radius: 10px;
}
.card__product__imgContainer p {
  width: 100%;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  padding: 5px 0;
  color: white;
  text-align: center;
  background: var(--color-blue);
}
.card__product__imgContainer img {
  height: 300px;
  width: 90%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}
.card__product:hover .card__product__imgContainer img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.card__product__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__product__texts__name {
  margin: 1rem 0 1rem 0;
  font-size: 20px;
  color: var(--color-dark-blue);
  font-family: gothanLight, sans-serif;
  text-align: center;
  font-weight: bold;
}
.card__product__texts__price {
  color: var(--color-dark-blue);
}
.card__product__texts__btn {
  margin-top: 1rem;
  padding: 6px 1rem;
  color: white;
  letter-spacing: 1px;
  border-radius: 3px;
  border: 1px solid var(--color-dark-blue);
  background: var(--color-dark-blue);
  cursor: pointer;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.card__product:hover .card__product__texts__btn {
  border: 1px solid var(--color-dark-blue);
  color: var(--color-dark-blue);
  background: transparent;
}
