.nav {
  color: var(--color-dark-blue);
  margin: 1rem 0 5rem 0;
  font-family: gothanLight, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.navArrow {
  margin: 0 0.8rem;
  font-size: 1.4rem;
}
.nav__content {
  display: flex;
  align-items: center;
}
