.navbar {
  width: 100%;
  height: 210px;
  position: sticky;
  top: 0;
  background-color: var(--color-dark-blue);
  color: white;
}
.navbar__content {
  max-width: 1270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar__content__logo {
  margin-top: 2rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  font-family: gothanBlack, sans-serif;
}
.navbar__content__logo__icon {
  width: calc(170px + 3vw);
  position: relative;
  bottom: calc(2rem + 1vw);
}
.navbar__content__logo__text {
  line-height: calc(20px + 1vw);
  letter-spacing: 4px;
  font-size: calc(1.5rem + 1vw);
}
.navbar__content__search {
  margin-top: 4rem;
  width: 45%;
}
.navbar__content__search__form {
  display: flex;
  position: relative;
}
.navbar__content__search__form__input {
  padding: 14px 14px 14px 20px;
  width: 90%;
  outline: none;
  border: none;
  border-radius: 10px 0 0 10px;
  background: white;
  font-size: 15px;
  letter-spacing: 1px;
}
.navbar__content__search__form__input::placeholder {
  opacity: 0.5;
  color: var(--color-dark-blue);
}
.navbar__content__search__form__submitBtn {
  position: relative;
  border: none;
  padding-right: 10px;
  background: white;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  letter-spacing: 1px;
  color: var(--color-dark-blue);
}
.navbar__content__search__svg {
  position: absolute;
  right: -6px;
  top: -5px;
  transform: scale(0.8);

  z-index: -1;
}
/* BOTTOM NAV */
.navbar__topics {
  background-color: var(--color-blue);
}
.navbar__topics__content {
  max-width: 1270px;
  margin: 0 auto;
}
.navbar__topics__content__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__topics__content__items__item {
  padding: 14px 5px;
  font-size: 18px;
  letter-spacing: 2px;
  transition: all 0.3s;
}
.navbar__topics__content__items__item:hover {
  background-color: #59cdf3;
}
