@font-face {
  font-family: "gothanBlack";
  src: url("./Fonts/Gotham-Black.otf");
}
@font-face {
  font-family: "gothanBold";
  src: url("./Fonts/GothamBold.ttf");
}
@font-face {
  font-family: "gothanMed";
  src: url("./Fonts/GothamMedium.ttf");
}
@font-face {
  font-family: "gothanLight";
  src: url("./Fonts/GothamLight.ttf");
}

:root {
  --color-dark-blue: #003a71;
  --color-blue: #22bcef;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
/*      REMOVER A SETA NO LADO DO INPUT NUMBER*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-family: gothanMed, sans-serif;
}
