@font-face {
  font-family: "gothanBlack";
  src: url("./Fonts/Gotham-Black.otf");
}
@font-face {
  font-family: "gothanBold";
  src: url("./Fonts/GothamBold.ttf");
}
@font-face {
  font-family: "gothanMed";
  src: url("./Fonts/GothamMedium.ttf");
}
@font-face {
  font-family: "gothanLight";
  src: url("./Fonts/GothamLight.ttf");
}

:root {
  --color-dark-blue: #003a71;
  --color-blue: #22bcef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: gothanMed, sans-serif;
}
